extends layout

block content
  h1= title
  p 
    div
    table.table.table-hover
        thead
        tr
            th Work Orders Number
            th Product Type
            th Output/Hour
            th Start Date
        tbody
        each workOrder in workOrders
            tr
            td=workOrder.number
            td=workOrder.productType
            td=workOrder.output
            td=workOrder.startDate
  a(href="new_work_orders")
   button(type="button") New Work Order
  a(href="history_work_orders")
   button(type="button") History Work Order
  a(href="/") Back
